<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sambang">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".ui.App"
        android:theme="@style/Theme.SAMBANG"
        android:usesCleartextTraffic="true">
        <activity android:name=".Dashboard.Report.ReportPenerima.Presenter.ReportPenerimaActivity"></activity>
        <activity android:name=".Dashboard.Report.ReportPenerima.ReportPenerimaActivity" />
        <activity android:name=".ui.add_or_edit_beneficiary.CreateOrUpdateBeneficiaryActivity" />
        <activity android:name=".Dashboard.Kependudukan.Keluarga.DetailKeluargaActivity" />
        <activity android:name=".Dashboard.Kependudukan.Keluarga.DetailActivity" />
        <activity android:name=".Dashboard.Kependudukan.NikAktif.AddNikAktifActivity" />
        <activity android:name=".Dashboard.Kependudukan.Keluarga.AddKeluargaActivity" />
        <activity android:name=".Dashboard.Kependudukan.NikNonAktif.NikNonAktifActivity" />
        <activity android:name=".Dashboard.Kependudukan.NikAktif.NikAktifActivity" />
        <activity android:name=".Dashboard.Kependudukan.Keluarga.KeluargaActivity" />
        <activity android:name=".ui.beneficiary.BeneficiaryActivity" />
        <activity android:name=".ui.search_support.PencarianDataBantuanActivity" />
        <activity android:name=".ui.list_of_propsal.ListOfProposalActivity" />
        <activity android:name=".Dashboard.Master.Kecamatan.KecamatanMasterActivity" />
        <activity android:name=".Dashboard.Master.Desa.DesaMasterActivity" />
        <activity android:name=".Dashboard.Master.Bantuan.BantuanMasterActivity" />
        <activity android:name=".Dashboard.Kependudukan.CheckNIK.CheckNikActivity" />
        <activity android:name=".ui.propose.PengajuanActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>